<template>
  <b-container fluid>
    <b-row tag="section" class="company">
      <b-col
        cols="12"
        offset="0"
        md="10"
        offset-md="1"
        xl="8"
        offset-xl="2"
      >
        <b-row>
          <b-col>
            <b-title>Companies</b-title>
          </b-col>
          <b-col cols="auto">
            <b-button variant="primary" @click="handleNewCompany">
              Add
            </b-button>
          </b-col>
        </b-row>
        <div class="company__card" @click.self="goToCompany">
          <div class="company__logo" @click="goToCompany">
            <div class="company__logo--initials">
              <span>{{ initials }}</span>
            </div>
          </div>
          <div class="company__summary" @click="goToCompany">
            <h3 class="company__name">
              {{ company.name }}
            </h3>
            <p class="company__projects mb-0">
              {{ company.projects.length }} Projects
            </p>
          </div>
          <div class="company__options company--right">
            <dropdown-menu v-model="isMenuOpen" right interactive class="company__dropdown">
              <b-button variant="outline" icon="ellipsis" icon-only />
              <div slot="dropdown">
                <b-link class="dropdown__item" @click="handleEdit">
                  Edit Company
                </b-link>
              </div>
            </dropdown-menu>
          </div>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import initials from 'initialism'

export default {
  name: 'CompanyCard',
  props: {
    company: {
      type: Object,
      default: () => {
        return {
          id: 0,
          name: '',
          projects: 0
        }
      }
    }
  },
  data: () => {
    return {
      isMenuOpen: false
    }
  },
  computed: {
    initials () {
      return initials(this.company.name, 2)
    },
    url () {
      return `/company/${this.company.id}`
    }
  },
  async asyncData ({ $axios }) {
    const companies = await $axios.get('/companies')
    return { companies: companies.data.data }
  },
  methods: {
    handleNewCompany () {
      this.$router.push('/company/new')
    },
    handleEdit () {
      this.$router.push(`${this.url}/edit`)
    },
    goToCompany () {
      this.$router.push(`${this.url}/project`)
    }
  }
}
</script>

<style>
.company {
  background-color: pink;
  min-height: 100vh;
  padding-top: 80px;
  padding-bottom: 20px;
}
.company__card {
    display: flex;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid white;
    transition: border-color 0.1s ease-in;
  }
.company__logo {
  width: 90px;
  height: 90px;
  padding-left: 15px;
  padding-right: 15px;
  }
.company__summary {
  flex-direction: column;
  justify-content: center;
  padding-right: 15px;
  margin-right: auto;
  }
.company__projects {
  align-self: flex-start;
  }
.company__options{
  margin-left: 10px;
}
.company--right {
  padding-left: 15px;
  padding-right: 15px;
  border-left: 1px solid gray;
  align-items: center;
}
</style>
