<template>
  <b-container fluid>
    <b-row tag="section" class="company">
      <b-col>
        <b-title class="mb-3">
          Hello, welcome to getdebug!
        </b-title>
        <p>This seems to be your first time in here. Please let us know further about you by creating a new company profile.</p>
        <div class="company__wrapper">
          <b-form class="company__form" @submit.prevent="handleSubmit">
            <b-input
              id="name"
              v-model="form.name"
              type="name"
              size="large"
              label="Company name"
              placeholder="Qatros"
              required
            />
            <b-input
              id="address"
              v-model="form.address"
              type="name"
              size="large"
              label="Company address"
              placeholder="Jl. Sehat No. XX, Indonesia"
              required
            />
            <b-form-select id="category" v-model="form.category" label="Company category" :options="categoryOptions" required />
            <b-button is-full size="large" type="submit" :disabled="isLoading">
              {{ isLoading ? 'Please wait' : 'Continue' }}
            </b-button>
          </b-form>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  data: () => {
    return {
      form: {
        name: '',
        address: '',
        category: ''
      },
      isLoading: false,
      isPaswordVisible: false,
      categoryOptions: [
        { value: '', text: 'Please select a category' },
        { value: 'agro', text: 'Agro-industry' },
        { value: 'education', text: 'Education' },
        { value: 'tech', text: 'Technology' },
        { value: 'something', text: 'Something else' }
      ]
    }
  },
  methods: {
    handleSubmit () {
      this.isLoading = true
      console.log(this.form)
    }
  }
}
</script>

<style>

.company {
  height: 100vh;
  padding-top: 80px;
}
.mb-3{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18pt;
  width: 500px;
  height: 50px;
}
p{
  width: 500px;
  height: 50px;
  font-size: 14pt;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#input{
    width: 150px;
    height: 40px;
}
</style>
