<template>
  <div class="sidebar__toggle" @click="handleSidebarToggle">
    <base-icon :icon="icon" />
  </div>
</template>

<script>
import { mapMutations } from 'vuex'

import BaseIcon from '~/components/BaseIcon'

export default {
  name: 'SidebarToggle',
  components: { BaseIcon },
  props: {
    icon: {
      type: String,
      default: 'open'
    }
  },
  methods: {
    ...mapMutations(['toggleSidebar', 'updateSelectedCompany']),
    handleSidebarToggle () {
      this.toggleSidebar()
      this.updateSelectedCompany()
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/scss/variables';

.sidebar {
  &__toggle {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    border-right: 1px solid $light-grey-2;
    &:hover {
      background-color: $light-grey-2;
    }
    @media (min-width: 768px) {
      display: none;
    }
  }
}
</style>
