<template>
  <b-nav-item :to="path" exact-active-class="sidebar__menu--active" class="sidebar__menu" @click.self="toggleSidebar">
    <div class="sidebar__menu--icon" @click="toggleSidebar">
      <base-icon v-if="icon" :icon="icon" />
    </div>
    <span @click="toggleSidebar">{{ name }}</span>
  </b-nav-item>
</template>

<script>
import { mapMutations } from 'vuex'

import BaseIcon from '~/components/BaseIcon'

export default {
  name: 'SidebarMenu',
  components: { BaseIcon },
  props: {
    name: {
      type: String,
      default: 'Home'
    },
    icon: {
      type: String,
      default: ''
    },
    path: {
      type: String,
      default: ''
    }
  },
  methods: {
    ...mapMutations(['toggleSidebar'])
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/scss/typography';
@import '~assets/scss/variables';

.sidebar {
  &__menu {
    transition: background 0.1s ease-in;
    a {
      @include paragraph;
      display: flex;
      height: 40px;
      color: $grey-2;
    }
    &--icon {
      margin-right: 10px;
      position: relative;
      top: -2px;
    }
    &--active {
      background-color: $light-grey-2;
    }
    &:hover {
      background-color: $light-grey-3;
    }
  }
}
</style>
