<template>
  <div>
    <body>
      <b-form-textarea id="textarea" v-model="text" rows="5" max-rows="8" />
    </body>
  </div>
</template>

<script>
export default {
  mounted () {
    this.$router.push('/company')
  }
}
</script>
<style>
body{
    background: pink;
    padding: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding-top: 80px;
    padding-bottom: 20px;
}
h3{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#textarea{
  width: 500px;
  padding: 40px;
  columns: 400px;
}
</style>
