<template>
  <div>
    <img src="" alt="">
    <b-form class="form" bg-primary @submit.prevent="onSubmit">
      <h3>Login</h3>
      <nuxt-link class="submit-login" to="/companies" />
      <b-form-group id="input-group-1" bg-gradient label="Email" label-for="input-1">
        <b-form-input id="input-1" v-model="form.email" type="email" required placeholder="Enter email" />
      </b-form-group>

      <b-form-group id="input-group-2" label="Password" label-for="input-2">
        <b-form-input id="input-2" v-model="form.password" type="password" required placeholder="Enter password" />
      </b-form-group>
      <b-form-group>
        <label class="checkbox">
          <input type="checkbox"> Remember me
        </label>
      </b-form-group>

      <b-button
        is-full
        size="large"
        type="submit"
        class="submit-login"
        variant="primary"
        :disabled="isLoading"
      >
        {{ isLoading ? 'Please wait' : 'Log in' }}
      </b-button>
    </b-form>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      form: {
        email: '',
        password: ''
      },
      isLoading: false,
      isPaswordVisible: false
    }
  },
  computed: {
    type () {
      return this.isPaswordVisible ? 'text' : 'password'
    },
    icon () {
      return this.isPaswordVisible ? 'show' : 'hide'
    }
  },
  methods: {
    togglePassword (e) {
      this.isPaswordVisible = !this.isPaswordVisible
    },
    onSubmit () {
      this.isLoading = true
      this.$auth.loginWith('local', {
        data: {
          email: this.form.email,
          password: this.form.password
        }
      })
        .then(() => {
          this.isLoading = false
          console.log('success')
        })
        .catch(() => (this.isLoading = false))
    }
  }
}
</script>

<style>
html{
  background: pink;
  padding: 50px;
  margin-top: 200px;
  margin-left: 600px;
  position: absolute;
}
.form{
    width: 380px;
    height: 360px;
    padding: 25px;
    margin: auto;
    background-color: #fbfbfb;
    border: 2px;
    border-radius: 10px;
    position: absolute;
}
#input{
    width: 330px;
    height: 40px;
}
h3{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
</style>
